<!DOCTYPE html>
<html lang="es">




<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Apex Expeditions - Panel de control</title>
  <link rel="icon" href="/images/favicon_admin.png" type="image/png">


  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>




<body id="page-top">
  <div id="wrapper">

    <!-- sidebar start -->
    {{>admin/partials/sidebar}}
    <!-- sidebar end -->

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

        <!-- topbar start -->
        <div id="topbar">
          {{>admin/partials/topbar}}
        </div>
        <!-- topbar end -->

        <div class="container-fluid">

          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Panel de administración</h1>
          </div>

          <div class="row justify-content-center">
            <div class="col-lg-10">

              <div class="card shadow mb-4 overflow-hidden border-0">
                <div class="bg-dark text-center py-5" style="background-color: #000 !important;">
                  <img src="/images/apex_admin_banner.png" class="img-fluid" alt="Apex Banner" style="max-height: 300px; width: auto;">
                </div>

                <div class="card-body text-center py-5">
                  <h2 class="font-weight-bold text-primary mb-4">Administración: Apex Expeditions</h2>
                  <p class="lead text-gray-800 mx-auto" style="max-width: 700px;">
                    Este portal centraliza la gestión operativa de la plataforma.
                    Desde aquí se puede acceder y editar el catálogo de <b>tours</b> y las <b>cuentas de usuario</b>. También se puede
                    supervisar las <b>reseñas</b>.
                  </p>
                  <hr class="my-4">
                  <p class="text-gray-600">
                    Utiliza el menú lateral para acceder a las diferentes herramientas de mantenimiento y configuración.
                  </p>

                  <div class="mt-4">
                    <a href="/admin/users" class="btn btn-success btn-icon-split shadow-sm mx-1">
                      <span class="icon text-white-50"><i class="fas fa-users"></i></span>
                      <span class="text">Gestionar Usuarios</span>
                    </a>
                    <a href="/admin/tours" class="btn btn-success btn-icon-split shadow-sm mx-1">
                      <span class="icon text-white-50"><i class="fas fa-map-marked-alt"></i></span>
                      <span class="text">Gestionar Tours</span>
                    </a>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

      <footer id="footer">
        {{>admin/partials/footer}}
      </footer>
    </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div id="logout-modal">
    {{>admin/partials/logout-modal}}
  </div>

  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/sb-admin-2.min.js"></script>
  <script src="/vendor/chart.js/Chart.min.js"></script>
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>