<!DOCTYPE html>
<html lang="en">






<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Usuarios</title>

    <!-- custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- custom styles for this template -->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>







<body id="page-top">
    <!-- content wrapper start -->
    <div id="wrapper">

        <!-- sidebar start -->
        {{>admin/partials/sidebar}}
        <!-- sidebar end -->

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- content start -->
            <div id="content">

                <!-- topbar start -->
                <div id="topbar">
                    {{>admin/partials/topbar}}
                </div>
                <!-- topbar end -->

                <!-- container start -->
                <div class="container-fluid">


                    <!-- card start -->
                    <div class="card shadow mb-4">

                        <!-- title start -->
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
                        </div>
                        <!-- title end -->

                        <!--  card body start -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <!-- table head start -->
                                    <thead>
                                        <tr>
                                            <th>Nombre y apellido</th>
                                            <th>Email</th>
                                            <th>Tel. principal</th>
                                            <th>Tel. secundario</th>
                                            <th>Fecha creación</th>
                                            <th>Dinero gastado</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <!-- table head end -->

                                    <!-- body start -->
                                    <tbody>
                                        {{#users}}
                                        <tr>
                                            <td>{{name}} {{lastName}}</td>

                                            <td>{{email}}</td>

                                            <td>{{mainPhone}}</td>

                                            <td>{{#secondaryPhone}}{{secondaryPhone}}{{/secondaryPhone}}{{^secondaryPhone}}-{{/secondaryPhone}}
                                            </td>

                                            <td>{{formattedCreationDate}}</td>

                                            <td>{{moneySpent}} €</td>

                                            <td>
                                                {{#enabled}}
                                                <span class="badge badge-success">Activo</span>
                                                {{/enabled}}
                                                {{^enabled}}
                                                <span class="badge badge-danger">Inactivo</span>
                                                {{/enabled}}
                                            </td>

                                            <td class="text-nowrap">
                                                <div class="btn-group" role="group">
                                                    <button type="button"
                                                            class="btn btn-info btn-sm shadow-sm mr-2"
                                                            data-toggle="modal"
                                                            data-target="#userViewModal{{id}}">
                                                        <i class="fas fa-eye mr-1"></i> <span>Ver</span>
                                                    </button>

                                                    <a href="/admin/users/edit/{{id}}"
                                                        class="btn btn-warning btn-sm shadow-sm mr-2">
                                                        <i class="fas fa-edit mr-1"></i> <span>Editar</span>
                                                    </a>

                                                        <button type="button"
                                                                class="btn btn-danger btn-sm shadow-sm mr-2"
                                                                data-toggle="modal"
                                                                data-target="#deleteUserModal{{id}}">
                                                            <i class="fas fa-trash mr-1"></i> <span>Eliminar</span>
                                                        </button>
                                                        {{>admin/partials/user-delete}}
                                                </div>
                                                {{>admin/partials/user-view}}
                                            </td>
                                        </tr>
                                        {{/users}}

                                        {{^users}}
                                        <tr>
                                            <td colspan="8" class="text-center">No hay clientes registrados en el
                                                sistema.</td>
                                        </tr>
                                        {{/users}}
                                    </tbody>
                                    <!-- body end -->

                                </table>
                            </div>
                        </div>
                        <!-- card body end -->

                    </div>
                    <!-- card end -->

                </div>
                <!-- container end -->

            </div>
            <!-- content end -->

            <!-- footer start -->
            <footer id="footer">
                {{>admin/partials/footer}}
            </footer>
            <!-- footer end -->

        </div>
        <!-- shadow end -->

    </div>
    <!-- content wrapper end -->

    <!-- scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i> </a>

    <!-- logout modal start -->
    <div id="logout-modal">
        {{>admin/partials/logout-modal}}
    </div>
    <!-- logout modal end -->

    <!-- bootstrap core js -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- core plugin js -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- custom scripts for all pages -->
    <script src="/js/sb-admin-2.min.js"></script>

    <!-- page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
</body>
</html>