<!-- sidebar start -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">



    <!-- logo + title start -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin/index">
        <img src="/images/logo_apex.png" alt="Logo" class="bg-primary rounded me-3" style="width: 60px">

        <div class="sidebar-brand-text mx-2">Apex:<br>SB Admin <sup>2</sup></div>
    </a>
    <!-- logo + title end -->
    <hr class="sidebar-divider my-0">



    <!-- section control panel start -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Panel de control</span></a>
    </li>
    <!-- section control panel end -->
    <hr class="sidebar-divider">



    <!-- section tours start -->
    <!-- header -->
    <div class="sidebar-heading">Tours</div>

    <!-- item view tours start -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/tours">
            <i class="fas fa-fw fa-map"></i>
            <span>Ver tours</span>
        </a>
    </li>
    <!-- item view end start -->

    <!-- item add tour start -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/add-tour">
            <i class="fas fa-fw fa-map"></i>
            <span>Añadir tour</span>
        </a>
    </li>
    <!-- item add tour end -->
    <!-- section tours end -->
    <hr class="sidebar-divider">



    <!-- section users start -->
    <!-- header -->
    <div class="sidebar-heading">Usuarios</div>

    <!-- item view users start -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/users">
            <i class="fas fa-fw fa-table"></i>
            <span>Ver usuarios</span></a>
    </li>
    <!-- item view users end -->

    <!-- item add user start -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/user-edit">
            <i class="fas fa-fw fa-table"></i>
            <span>Añadir usuario</span></a>
    </li>
    <!-- item add user end -->
    <!-- section users end -->
    <hr class="sidebar-divider">



    <!-- section reviews start -->
    <!-- header -->
    <div class="sidebar-heading">Reseñas</div>

    <!-- item view reviews start -->

    <!-- item view reviews end -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/reviews">
            <i class="fas fa-fw fa-comments"></i>
            <span>Ver reseñas</span>
        </a>
    </li>
    <!-- section reviews end -->
    <hr class="sidebar-divider">



    <!-- section guides start -->
    <!-- header -->
    <div class="sidebar-heading">Guías</div>

    <!-- item view guides start -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/guides">
            <i class="fas fa-fw fa-table"></i>
            <span>Ver guías</span></a>
    </li>
    <!-- item view guides end -->

    <!-- item add guide start -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/guides-edit">
            <i class="fas fa-fw fa-table"></i>
            <span>Añadir guía</span></a>
    </li>
    <!-- item add guide end -->
    <!-- section guides end -->
    <hr class="sidebar-divider">



    <!-- section navigation start -->
    <div class="sidebar-heading">
        Navegación
    </div>

    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-arrow-left"></i>
            <span>Volver a inicio</span>
        </a>
    </li>
    <!-- section navigation end -->
    <hr class="sidebar-divider">



    <!-- section interface start -->
    <!-- header -->
    <div class="sidebar-heading">
        Interfaz
    </div>

    <!-- collapse tools start -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Herramientas</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/buttons">Botones</a>
                <a class="collapse-item" href="/admin/cards">Tarjetas</a>
            </div>
        </div>
    </li>
    <!-- collapse tools end -->

    <!-- collapse utilities start -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilidades</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Personalizar</h6>
                <a class="collapse-item" href="/admin/utilities-color">Colores</a>
                <a class="collapse-item" href="/admin/utilities-border">Bordes</a>
                <a class="collapse-item" href="/admin/utilities-animation">Animaciones</a>
                <a class="collapse-item" href="/admin/utilities-other">Otros</a>
            </div>
        </div>
    </li>
    <!-- collapse utilities end -->
    <!-- section interface end -->
    <hr class="sidebar-divider">



    <!-- section resources start -->
    <!-- header -->
    <div class="sidebar-heading">
        Recursos
    </div>

    <!-- collapse pages start -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Páginas</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Páginas de Log In:</h6>

                <a class="collapse-item" href="/admin-login">Admin-Log In</a>
                <a class="collapse-item" href="/login">Log In</a>
                <a class="collapse-item" href="./register">Registro</a>
                <a class="collapse-item" href="/forgot-password">Olvidaste tu contraseña?</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Otras páginas:</h6>
                <a class="collapse-item" href="/admin/404">Página 404</a>
                <a class="collapse-item" href="/admin/blank">Página en blanco</a>
            </div>
        </div>
    </li>
    <!-- collapse pages end -->

    <!-- item charts start -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/charts">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Estadísticas</span></a>
    </li>
    <!-- item charts end -->
</ul>
<!-- sidebar end -->