<!-- topbar start -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- small screen toggle -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                     </button>

                    <!-- navbar start -->
                    <ul class="navbar-nav ml-auto">

                        <!-- nav item search dropdown (visible only xs) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- dropdown messages-->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Buscar" aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <!-- xs view end -->

                        <!-- notifications start -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                {{#unreadCount}}
                                <span class="badge badge-danger badge-counter" style="background-color: red !important;">
            {{unreadCount}}
        </span>
                                {{/unreadCount}}
                            </a>

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Centro de Notificaciones
                                </h6>

                                {{#notifications}}
                                <div class="dropdown-item d-flex align-items-center {{^readStatus}}bg-light{{/readStatus}}" style="cursor: default !important;">
                                    <div class="mr-3">
                                        <div class="icon-circle {{color}}">
                                            <i class="{{icon}} text-white"></i>
                                        </div>
                                    </div>
                                    <div class="w-100">
                                        <div class="small text-gray-500">{{formattedDate}}</div>
                                        <span class="{{^readStatus}}font-weight-bold{{/readStatus}} text-dark">{{message}}</span>
                                    </div>

                                    <div class="d-flex">
                                        {{^readStatus}}
                                        <form action="/notifications/read/{{id}}" method="post" class="ml-1">
                                            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                                            <button type="submit" class="btn btn-sm btn-circle btn-outline-success border-0" title="Marcar como leído">
                                                <i class="fas fa-check fa-xs"></i>
                                            </button>
                                        </form>
                                        {{/readStatus}}

                                        <form action="/notifications/delete/{{id}}" method="post" class="ml-1">
                                            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
                                            <button type="submit" class="btn btn-sm btn-circle btn-outline-danger border-0" title="Eliminar notificación">
                                                <i class="fas fa-trash fa-xs"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {{/notifications}}

                                {{^notifications}}
                                <a class="dropdown-item text-center small text-gray-500" style="cursor: default; pointer-events: none;">No hay notificaciones</a>
                                {{/notifications}}

                            </div>
                        </li>
                        <!-- notifications end -->

                        <!-- messages start -->
                        <li class="nav-item mx-1">
                            <a class="nav-link" style="cursor: default; pointer-events: none;">
                                <i class="fas fa-envelope fa-fw"></i>
                            </a>
                        </li>
                        <!-- messages end -->

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <!-- display current admin -->
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!-- name + last name -->
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    {{currentUser.name}} {{currentUser.lastName}}
                                </span>

                                <!-- pfp start  -->
                                <!-- if user has pfp: display that -->
                                {{#currentUser.hasProfilePicture}}
                                <img class="img-profile rounded-circle"
                                     src="/user/{{currentUser.id}}/image"
                                     style="object-fit: cover;">
                                {{/currentUser.hasProfilePicture}}

                                <!-- if not: display default sb_admin_2 pfp -->
                                {{^currentUser.hasProfilePicture}}
                                <img class="img-profile rounded-circle"
                                     src="/img/undraw_profile.svg">
                                {{/currentUser.hasProfilePicture}}
                                <!-- pfp end  -->

                            </a>

                            <!-- user dropdown start -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <!-- profile start -->
                                <a class="dropdown-item" href="/profile"> <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Mi perfil
                                </a>
                                <!-- profile end -->

                                <!-- logout start -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/profile?showLogout=true">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                                <!-- logout end -->
                            </div>
                            <!-- user dropdown end -->

                        </li>

                    </ul>
                    <!-- navbar end -->

                </nav>
<!-- topbar end -->