<!DOCTYPE html>
<html lang="es">






<head>
    <meta charset="utf-8">

    <!-- window title and icon -->
    <title>Apex - Tours</title>
    <link rel="icon" href="/images/favicon_triangle.png" type="image/png">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- seo optimization -->
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- google web fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- icon font stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- css and bootstrap templates stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>






<body>
{{>partials/navbar}}




<!-- banner + breadcrumbs start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">Packs de viajes</h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                <li class="breadcrumb-item active text-white">Tours</li>
            </ol>
        </div>
    </div>
    <!-- banner + breadcrumbs start -->



    <div class="container-fluid packages py-5">
        <div class="container py-5">

            <!-- titles start -->
            <div class="mx-auto text-center mb-5" style="max-width: 900px;">
                <h5 class="section-title px-3">Tours</h5>
                <h1 class="mb-0">Packs de viajes disponibles</h1>
            </div>
            <!-- titles end -->

            <!-- cards start -->
            <div class="row justify-content-center">

                <!-- card 1x1 start -->
                <div class="packages-item col-lg-4 col-md-6 mb-4">
                    <div class="packages-img">
                        <img src="/images/imagen futuro.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Futuro - Tierra</h5>
                            <small class="text-uppercase">Hotel incluido</small>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>

                            <div class="mb-3 border-bottom pb-3">
                                <p class="h4 text-primary mb-2">4349.00€</p>
                                <div class="d-flex justify-content-between text-muted">
                                    <small><i class="fa fa-map-marker-alt me-2"></i>Futuro</small>
                                    <small><i class="fa fa-calendar-alt me-2"></i>3 días</small>
                                    <small><i class="fa fa-user me-2"></i>2 Personas</small>
                                </div>
                            </div>

                            <p class="mb-4">Explora un mundo del futuro con coches flotantes y tecnología inimaginable.
                            </p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="col-6 text-start px-0">
                                <a href="tour-details.html" class="btn-hover btn text-white py-2 px-4">Leer más</a>
                            </div>
                            <div class="col-6 text-end px-0">


                            </div>
                        </div>
                    </div>
                </div>
                <!-- card 1x1 end -->


                <!-- card 1x2 start -->
                <div class="packages-item col-lg-4 col-md-6 mb-4">
                    <div class="packages-img">
                        <img src="/images/volcan.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Volcán Krakatoa - Sonda, Indonesia</h5>
                            <small class="text-uppercase">Hotel incluido</small>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>

                            <div class="mb-3 border-bottom pb-3">
                                <p class="h4 text-primary mb-2">1649.00€</p>
                                <div class="d-flex justify-content-between text-muted">
                                    <small><i class="fa fa-map-marker-alt me-2"></i>Sonda</small>
                                    <small><i class="fa fa-calendar-alt me-2"></i>3 días</small>
                                    <small><i class="fa fa-user me-2"></i>2 Personas</small>
                                </div>
                            </div>

                            <p class="mb-4">Explora el interior de un volcán y siente el poder de la Tierra desde su
                                núcleo.</p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="col-6 text-start px-0">
                                <a href="tour-details.html" class="btn-hover btn text-white py-2 px-4">Leer más</a>
                            </div>
                            <div class="col-6 text-end px-0">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card 1x2 end -->

                <!-- card 1x3 start -->
                <div class="packages-item col-lg-4 col-md-6 mb-4">
                    <div class="packages-img">
                        <img src="/images/zombies.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Apocalipsis zombie - ???</h5>
                            <small class="text-uppercase">Hotel no incluido</small>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>

                            <div class="mb-3 border-bottom pb-3">
                                <p class="h4 text-primary mb-2">3349.00€</p>
                                <div class="d-flex justify-content-between text-muted">
                                    <small><i class="fa fa-map-marker-alt me-2"></i>Zona de reclusión</small>
                                    <small><i class="fa fa-calendar-alt me-2"></i>3 días</small>
                                    <small><i class="fa fa-user me-2"></i>2 Personas</small>
                                </div>
                            </div>

                            <p class="mb-4">Adéntrate en un mundo invadido por zombies y vive la emoción del fin del
                                mundo en cada esquina.</p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="col-6 text-start px-0">
                                <a href="tour-details.html" class="btn-hover btn text-white py-2 px-4">Leer más</a>
                            </div>
                            <div class="col-6 text-end px-0">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card 1x3 end -->


                <!-- card 2x1 start -->
                <div class="packages-item col-lg-4 col-md-6 mb-4">
                    <div class="packages-img">
                        <img src="/images/luna1.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Luna - Sistema solar</h5>
                            <small class="text-uppercase">Hotel incluido</small>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>

                            <div class="mb-3 border-bottom pb-3">
                                <p class="h4 text-primary mb-2">9349.00€</p>
                                <div class="d-flex justify-content-between text-muted">
                                    <small><i class="fa fa-map-marker-alt me-2"></i>Luna</small>
                                    <small><i class="fa fa-calendar-alt me-2"></i>3 días</small>
                                    <small><i class="fa fa-user me-2"></i>2 Personas</small>
                                </div>
                            </div>

                            <p class="mb-4">Viaja a la Luna y observa la Tierra desde una perspectiva única.</p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="col-6 text-start px-0">
                                <a href="tour-details.html" class="btn-hover btn text-white py-2 px-4">Leer más</a>
                            </div>
                            <div class="col-6 text-end px-0">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card 2x1 end -->

                <!-- card 2x2 start -->
                <div class="packages-item col-lg-4 col-md-6 mb-4">
                    <div class="packages-img">
                        <img src="/images/urano.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Urano - Sistema solar</h5>
                            <small class="text-uppercase">Hotel incluido</small>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>

                            <div class="mb-3 border-bottom pb-3">
                                <p class="h4 text-primary mb-2">9449.00€</p>
                                <div class="d-flex justify-content-between text-muted">
                                    <small><i class="fa fa-map-marker-alt me-2"></i>Urano</small>
                                    <small><i class="fa fa-calendar-alt me-2"></i>3 días</small>
                                    <small><i class="fa fa-user me-2"></i>2 Personas</small>
                                </div>
                            </div>

                            <p class="mb-4">Explora el misterioso planeta helado y sus paisajes extremos en un viaje
                                fuera de lo común.</p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="col-6 text-start px-0">
                                <a href="tour-details.html" class="btn-hover btn text-white py-2 px-4">Leer más</a>
                            </div>
                            <div class="col-6 text-end px-0">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card 2x2 end -->

                <!-- card 2x3 start -->
                <div class="packages-item col-lg-4 col-md-6 mb-4">
                    <div class="packages-img">
                        <img src="/images/planeta.jpeg" class="img-fluid w-100 rounded-top" alt="Image">
                    </div>
                    <div class="packages-content bg-light">
                        <div class="p-4 pb-0">
                            <h5 class="mb-0">Planeta HD 137010 b - Espacio exterior</h5>
                            <small class="text-uppercase">Hotel incluido</small>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>

                            <div class="mb-3 border-bottom pb-3">
                                <p class="h4 text-primary mb-2">10449.00€</p>
                                <div class="d-flex justify-content-between text-muted">
                                    <small><i class="fa fa-map-marker-alt me-2"></i>Planeta HD 137010 b</small>
                                    <small><i class="fa fa-calendar-alt me-2"></i>3 días</small>
                                    <small><i class="fa fa-user me-2"></i>2 Personas</small>
                                </div>
                            </div>

                            <p class="mb-4">Explora HD 137010 b, un planeta lejano en la zona habitable de su estrella,
                                lleno de vida extraterreste.</p>
                        </div>
                        <div class="row bg-primary rounded-bottom mx-0">
                            <div class="col-6 text-start px-0">
                                <a href="tour-details.html" class="btn-hover btn text-white py-2 px-4">Leer más</a>
                            </div>
                            <div class="col-6 text-end px-0">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card 2x3 end -->

            </div>
            <!-- cards end -->

        </div>
    </div>

{{>partials/footer}}




<!-- back to top -->
    <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i
            class="fa fa-arrow-up"></i></a>



    <!-- js libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>