<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <img src="../img/logo_apex.png" alt="Logo" class="bg-primary rounded me-3" style="width: 60px">

        <div class="sidebar-brand-text mx-2">SB Admin <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Panel de control</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interfaz
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Herramientas</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="buttons.html">Botones</a>
                <a class="collapse-item" href="cards.html">Tarjetas</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilidades</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Personalizar</h6>
                <a class="collapse-item" href="utilities-color.html">Colores</a>
                <a class="collapse-item" href="utilities-border.html">Bordes</a>
                <a class="collapse-item" href="utilities-animation.html">Animaciones</a>
                <a class="collapse-item" href="utilities-other.html">Otros</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Recursos
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Páginas</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Páginas de Log In:</h6>

                <a class="collapse-item" href="../html/admin-login.html">Admin-Log In</a>
                <a class="collapse-item" href="../html/login.html">Log In</a>
                <a class="collapse-item" href="../html/register.html">Registro</a>
                <a class="collapse-item" href="../html/forgot-password.html">Olvidaste tu contraseña?</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Otras páginas:</h6>
                <a class="collapse-item" href="404.html">Página 404</a>
                <a class="collapse-item" href="blank.html">Página en blanco</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Estadísticas</span></a>
    </li>

    <!-- Nav Item - Users -->
    <li class="nav-item">
        <a class="nav-link" href="users.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Usuarios</span></a>
    </li>

    <!-- Nav Item - Tours -->
    <li class="nav-item">
        <a class="nav-link" href="tours.html">
            <i class="fas fa-fw fa-map"></i>
            <span>Tours</span>
        </a>
    </li>

    <!-- Nav Item - Reviews -->
    <li class="nav-item">
        <a class="nav-link" href="reviews.html">
            <i class="fas fa-fw fa-comments"></i>
            <span>Reviews</span>
        </a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
</ul>
<!-- End of Sidebar -->